<a href="https://colab.research.google.com/github/GObranAsker12/ASS2/blob/master/Pandas%20python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
np.random.seed(215465613)

In [ ]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2] ,'name': ['Ahmed','Ali']})

   Yes   No   name
0   50  131  Ahmed
1   21    2    Ali

In [ ]:
x=pd.Series([1,2,6,8,9,7])
print(x)

In [ ]:
table = pd.read_csv("d(1).csv")

In [ ]:
table.shape

(169, 4)

In [ ]:
table.size

676

In [ ]:
len(table)

169

In [ ]:
table.columns

In [ ]:
table.keys()

In [ ]:
table.dtypes

In [ ]:
table.head

In [ ]:
table.tail(4)

In [ ]:
table['Duration']

In [ ]:
table['Pulse']

In [ ]:
table['Duration'][:4]

In [ ]:
df=pd.DataFrame(2,index=['x','y','o','h'],columns=['c1','c2'])
df

In [ ]:
df.reset_index()

In [ ]:
from numpy.random.mtrand import randn
df=pd.DataFrame(randn(4,4),index=['x','y','y','h'],columns=['c1','c2','c3','c4'])
df

In [ ]:
df['c1']

In [ ]:
df[['c1','c3']]

In [ ]:
df['c5']=df['c1']+df['c3']
df

In [ ]:
df.loc['x']

In [ ]:
df.iloc[2]

In [ ]:
df.loc[['x','y']]

In [ ]:
df.drop(['c1','c2'],axis=1)